#content {

}

body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-image: url("images/space.jpg");
  color: white;
}

table, td, th {
  border: 1px solid white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
}
